:host {
  display: grid;
  grid-template-rows: auto auto 1fr;
  --dark: rgb(116, 90, 52);
  --light: navajowhite;
  
  nav {
    display: flex;
    flex-direction: row;
    background-color: var(--light);
    border-bottom: 2px solid var(--dark);

    a {
        text-decoration: none;        
        padding: 10px;
        color: var(--dark);
        &.cur {
            background-color: var(--dark);
            color: var(--light);
        }
    }
  }
}
