<app-toolbar caption="Quiz-box" icon="home"/>
<div class="main">
    @if(store.isDone()) {
        <app-done *ngIf="store.isDone()" [correct]="store.correctCount()" [total]="store.totalQuestions()"/>
    } @else {
        <app-progress [value]="store.currentQuestionIndex()" [of]="store.totalQuestions()"/>
        <app-question-presenter [question]="store.currentQuestion()"
            (answered)="store.answerCurrentQuestion($event)"
        />    
    }
    <button mat-raised-button color="accent" *ngIf="store.currentQuestionIndex() > 0"  (click)="store.reset()">Restart</button>
</div>
